<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98970202961-t9gdb07d70ulid4e4vp1sgqsceie6q7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98970202961-t9gdb07d70ulid4e4vp1sgqsceie6q7a</string>
	<key>API_KEY</key>
	<string>AIzaSyBMWTUc1Ca_HOtSgBUIPntwnX10hg7gQDA</string>
	<key>GCM_SENDER_ID</key>
	<string>98970202961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaishi.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>music-9619a</string>
	<key>STORAGE_BUCKET</key>
	<string>music-9619a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98970202961:ios:82135ba1d78c46913c5970</string>
</dict>
</plist>